/*CSS DOCUMENT*/
/*CSS DOCUMENT*/

img {
    width: 100%;
    margin: 0em;
    padding: 0em;
}

body{
	background-color: rgb(245, 245, 245);
    padding: 1em;
}

h1 {
    font-family: poppins, sans-serif;
	font-weight: 500;
	font-style: bold;
    font-size: 5em;
    margin: 0em;
}

h2 {
    font-family: poppins, serif;
	font-weight: 500;
	font-style: bold;
     margin: 0em;
    padding: 0.5em;
    font-size: 2.5em;
}

h3 {
    font-family: poppins, sans-serif;
	font-weight: 500;
	font-style: normal;
    margin: 2em 3em 1em 2em;
     font-size: 1.5em;
    border-bottom: double;
}

h4 {
    font-family: poppins, sans-serif;
	font-weight: 400;
	font-style: normal;
    margin: 1em;
}

p {
	font-family: poppins, sans-serif;
	font-weight: 400;
    font-size: 1em;
	font-style: normal;
    margin: 1em;
}

ul {
	list-style: none;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(29, 77, 79);
    font-family: poppins, sans-serif;
    font-style: initial;
}

.navigation_design {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  padding: 1em;
  text-decoration: none;
}


.navigation_design a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

.navigation_design a:hover {
  background-color: rgb(20, 70, 70);
}

.price {
	font-family: serif;
    font-style: italic;
    color: rgb(29, 77, 79);
    font-size: 0.8em;
}

address {
	 background-color: rgb(29, 77, 79);
	color: rgb(255, 255, 255);
	padding: 1.5em;
    font-family: poppins, sans-serif;
	font-style: normal;
}

a { 
color: rgb(255, 255, 255);
    font-style: italic;
}
