/*CSS document*/

body {
    background-color: rgb(250, 249, 246);
}

div.container {
    max-width: 80em;
    margin: auto;
}

img {
    width: 100%;
}

figure {
    width: 100%;
    padding: 0em;
    margin: 0em;
}

ul {
    list-style-type: none;
}

nav ul{
    border-bottom: 2px solid;
    border-top: 2px solid; 
    padding: 1em;
    color:rgb(195, 172, 167);
    text-align: center;
}

nav ul li {
    padding: 0.5em;
    font-family: dair, serif;
    color: rgb(76, 79, 103);
    display: inline;
    text-transform: uppercase;
}

nav ul li a {
    color:rgb(195, 172, 167);
    text-decoration: none;
}

h1{
    width: 8em;
    margin: 0.5em auto 0.5em auto;
}

h2 {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 300;
    color: rgb(150, 139, 150);
}

h3 {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 300;
    color: rgb(150, 139, 150);  
    margin: auto;
}

h3:hover {
	text-decoration: underline;
}

figcaption{
    font-family: dair, serif;
    color: rgb(195, 172, 167);
    font-size: 0.9em;
}

section{
    max-width: 40em;
    margin: 0 auto 3em;
}

section a {
    color: rgb(76, 79, 103);
    text-decoration: none;
}

p {
    font-family: dair, serif;
    color: rgb (0, 0, 0);
}

.mainstory{
    font-family: dair, serif;
}


.mainstory a{
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 300;
    color: rgb(150, 139, 150); 
}

.secondary a{
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 300;
    color: rgb(150, 139, 150); 
}

section.mainstory{
    display: flex;
    flex-direction: column;
    grid-column: 2/4;
    grid-row: 1/3;
}


section.mainstory figure {
    flex: 1 0 18em;
    display: flex;
    flex-direction: column;
    padding: 0em;
    margin: 0em;
}

section.mainstory h3{
    flex: 0 0 auto;
    margin: .3em 0em 1em 0em;
}

section.mainstory p{
    flex: 0 0 auto;
    margin: 0;
}

section.mainstory figure div{
    flex: 1 0 18em;
    background-image: url(mooncookies.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.mainstory figure figcaption{
    flex: 0 0 3em;
}

section.mainstory figure img{
    height: 100%;
}

section.mainstory figure div img{
    height: auto;
    opacity: 0;
}

@media screen and (min-width: 60em){
    
    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1em;
    }
    header{
        grid-column: 1/3;
    }
    main{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0 1em;
    }
    aside{
        grid-column: 2/3;
    }
}
